# Dependencies
node_modules/
.pnpm-store/

# Build & Output
dist/
build/
*.log

# Environment variables
.env
.env.local
.env.production

# Backend Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
